<form ng-submit="login()">
    <label for="emailAddress">Email Address:</label>
    <input type="text" ng-model="loginForm.emailAddress" id="emailAddress" required />

    <label for="password">Password:</label>
    <input type="password" ng-model="loginForm.password" id="password" required />

    <label for="rememberMe">Remember Me:</label>
    <input type="checkbox" ng-model="loginForm.rememberMe" id="rememberMe" />

    <button type="submit">Login</button>
</form>

<div ng-if="loginForm.loginFailure">Incorrect username or password</div>